body,html{
    margin: 0;
    padding: 0;
    font-family: sans-serif;
    width: 100%;
    height: 100%;
}
.navbar{
    position: fixed;
    z-index: 2;
    width: 100%;
}
.active{

    text-decoration: underline;
}
.section-top{
    width: 100%;
    height: 100%;
    overflow: hidden;
    position: relative;
    background-image: url(image1.jpg);
    background-repeat: no-repeat;
    background-size: cover;

    animation: slide 10s infinite;
}
.container{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-transform: uppercase;
    text-align: center;
}
.container h1{
    color: white;
    font-size: 60px;
    letter-spacing: 16px;
}
.container a{
    background: #0984e3;
    padding: 10px 24px;
    color: white;
    text-decoration: none;
    font-size: 18px;
    border-radius: 20px;
}

p{
    font-size: 20px;
    padding: 10px;
    line-height: 24px;
}

@keyframes slide {
    0%{
        background-image: url(./gallery/2.jpg);
    }
    33%{
        background-image: url(./gallery/4.jpg);
    }
    67%{
        background-image: url(./gallery/5.jpg);
    }
}

#blur.active{
    filter: blur(20px);
    pointer-events: none;
    user-select: none;
}



#popUp{
    position: fixed;
  
    /* transform: translate(-50%, -50%); */
    
    
   
    box-shadow: 0 5px 30px rgba(0, 0, 0, .30);
    background: rgba(48, 47, 47, 0.452);
    visibility: hidden;
    opacity: 0;
    transition: 0.5s;
}

#popUp.active{
   
    visibility: visible;
    opacity: 1;
    transition: 0.5s;
}









.gallet{
    height: 200px;
    width: 300px;
    transition: all 1s;
    display: flex;
    justify-content: center;
    align-items: center;
}
.gallet1{
    height: 90%;
    transition: all .5s;
}
.gallet1:hover{
    height: 100%;
}