body,html{
    margin: 0;
    padding: 0;
    font-family: sans-serif;
    width: 100%;
    height: 100%;
}
.navbar{
    position: fixed;
    z-index: 2;
    width: 100%;
}
.active{

    text-decoration: underline;
}
.section-top1{
    width: 100%;
    height: 100%;
    overflow: hidden;
    position: relative;
    background-image: url(image1.jpg);
    background-repeat: no-repeat;
    background-size: cover;

    animation: slide 10s infinite;
}
.content1{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-transform: uppercase;
    text-align: center;
}
.content1 h1{
    color: white;
    font-size: 60px;
    letter-spacing: 16px;
}
.content1 a{
    background: #0984e3;
    padding: 10px 24px;
    color: white;
    text-decoration: none;
    font-size: 18px;
    border-radius: 20px;
}

p{
    font-size: 20px;
    padding: 10px;
    line-height: 24px;
}

@keyframes slide {
    0%{
        background-image: url(image1.jpg);
    }
    33%{
        background-image: url(image2.jpg);
    }
    67%{
        background-image: url(image3.jpg);
    }
}










.gallet{
    height: 200px;
    width: 300px;
    transition: all 1s;
}
.gallet:hover{
    height: 210px;
    width: 310px;
}
.gallet1{
    height: 100%;
}